.white {
  background: white;
  color: #333;
}

.white h1,
.white h2,
.white h3 {
  color: #e51e25;
}

.blue {
  color: #333;
  background-color: #002e50;
  background-image: url("../../../assets/cars.png");
  background-size: 300px auto;
  background-repeat: repeat;
}

.blue h1,
.blue h2,
.blue h3 {
  color: #e51e25;
}

.aqua {
  color: #333;
  background-color: #44ffd1;
  background-image: url("../../../assets/cars.png");
  background-size: 300px auto;
  background-repeat: repeat;
}

.aqua h1,
.aqua h2,
.aqua h3 {
  color: #e51e25;
}
